body{
    background-color: rgba(95, 158, 160, 0.63);
}

table{

    border-style: ridge ;
    border-right: ridge;
    border-left: ridge;
    border-width: 0.50cm;
       
}

th{
    background-color: cadetblue;
}

tr{
    background-color: white;
}